@import "../../styles/tokens";
@import "../../styles/variables";

.provider-list-page {
  min-height: 100vh;
  background-color: #f9fafb;

  &__content {
    padding-top: 80px;
  }

  &__container {
    margin: 0 auto;
    padding-left: $spacing-l; 
  }
} 